<p>move-selector works!</p>
<mat-slide-toggle>Toggle me!</mat-slide-toggle>





<section>
  <div class="example-label">Floating Action Button (FAB)</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <button matFab aria-label="Example icon button with a delete icon">
        <mat-icon>delete</mat-icon>
      </button>
      <button matFab disabled aria-label="Example icon button with a heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
  </div>
</section>
<mat-divider/>
<section>
  <div class="example-label">Mini FAB</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <button matMiniFab aria-label="Example icon button with a menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <button matMiniFab disabled aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
      </button>
    </div>
  </div>
</section>
<mat-divider/>
<section>
  <div class="example-label">Extended FAB</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <button mat-fab extended>
        <mat-icon>favorite</mat-icon>
        Basic
      </button>
      <button matFab extended disabled>
        <mat-icon>favorite</mat-icon>
        Disabled
      </button>
      <a matFab extended routerLink=".">
        <mat-icon>favorite</mat-icon>
        Link
      </a>
    </div>
  </div>
</section>


<!-- Copyright 2026 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at https://angular.io/license -->